@font-face {
  font-family: 'Open Sans';
  src: url('./asset/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./asset/RobotoMono-Regular.ttf') format('truetype');
}

body {
  font-family: 'Open Sans';
}

.everitoken-mono {
  font-family: 'Roboto Mono';
}

a.circular-entity-link {
  font-size: 12px;
  cursor: pointer;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fs-small {
  font-size: 12px;
}
